{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>تسجيل حساب</title>
</head>
<body>
    <h2>إنشاء حساب</h2>
    <form method="POST">
        {% csrf_token %}
        <label>الاسم الأول:</label>
        <input type="text" name="first_name" required><br>
        
        <label>الاسم الأخير:</label>
        <input type="text" name="last_name" required><br>
        
        <label>رقم الهاتف:</label>
        <input type="text" name="phone" required><br>
        
        <label>البريد الإلكتروني:</label>
        <input type="email" name="email" required><br>
        
        <label>البلد:</label>
        <input type="text" name="country" required><br>
        
        <label>كلمة المرور:</label>
        <input type="password" name="password" required><br>
        <label>كلمة المرور:</label>
        <input type="password" name="password1" required><br>

        <button type="submit">تسجيل</button>
    </form>
</body>
</html>
